<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.loklak.wok">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <uses-feature android:name="android.hardware.location.gps"/>
    <uses-feature android:name="android.hardware.location.network"/>

    <application
        android:name="org.loklak.wok.LoklakWokApplication"
        android:allowBackup="true"
        android:icon="@mipmap/launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="org.org.android.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"/>
        </provider>

        <activity
            android:name="org.loklak.wok.ui.activity.SplashActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="org.loklak.wok.ui.activity.TweetHarvestingActivity"/>

        <activity
            android:name="org.loklak.wok.ui.suggestion.SuggestActivity"
            android:windowSoftInputMode="stateHidden|adjustResize"
            android:launchMode="singleTask"/>

        <activity
            android:name="org.loklak.wok.ui.activity.SearchActivity"
            android:launchMode="singleTask"/>

        <activity
            android:name="org.loklak.wok.ui.activity.TweetPostingActivity"
            android:windowSoftInputMode="adjustResize|stateHidden"
            android:launchMode="singleTask"/>

        <!-- TODO: uncomment the following, add API key and uncomment Fabric crashlytics kit in
        LoklakWokApplication -->
        <!--<meta-data
            android:name="io.fabric.ApiKey"
            android:value="API_KEY" />-->

    </application>

</manifest>
